<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn">
  <Appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="%d [%t] %-5p [%c-%L]  - %m%n"/>
    </Console>
    <RollingFile fileName="logs\syss.log" filePattern="logs\syss_%d{yyyy-MM-dd}-%i.log"
        name="RollingFile">
      <Policies>
        <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
        <SizeBasedTriggeringPolicy size="2MB"/>
      </Policies>
      <PatternLayout charset="UTF-8" pattern="%d [%t] %-5p [%c] - %m%n"/>
      <DefaultRolloverStrategy max="20"/>
    </RollingFile>
  </Appenders>

  <Loggers>
    <root level="info">
      <appender-ref ref="Console"/>
      <appender-ref ref="RollingFile"/>
    </root>
  </Loggers>
</Configuration>