<?xml version="1.0" encoding="UTF-8"?>
<suite name="firstsuite">

    <test name="all_test">
        <parameter name="DeviceName" value="OPPO R9s"/>
        <parameter name="UDID" value="e87adaf6"/>
        <parameter name="System_version" value="7.1.1"/>

        <parameter name="port" value="4723"/>
        <parameter name="mobile" value="17302136038"/>
        <parameter name="password" value="180205"/>

        <classes>
            <class name="appiumtest.utils.InitDriver"/>
            <class name="appiumtest.tests.LoginTest"/>
            <class name="appiumtest.tests.HomePageTest"/>
            <class name="appiumtest.tests.SearchHouseTest"/>
            <class name="appiumtest.tests.ScreenHouseTest"/>
            <class name="appiumtest.tests.HouseDetailTest"/>
            <class name="appiumtest.tests.PublishPostCase"/>
            <class name="appiumtest.tests.ReleaseHouseTest"/>
        </classes>

    </test>


</suite>
    